div.static{
    position: relative;
    /* position: static; */
    border: 3px solid red;
    padding: 10px;
    /* bottom: 200px; */
    /* left: 50px;
    right: 100px; */
    text-align: center;
    top: 200px
}
div.fixed{
    position: fixed;
    border: 2px solid;
    bottom: 0;
    top: 50;
    left:50 ;
}
div.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: green;
    border: 2px solid #4CAF50;

}
